In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame({"fruit":["null bhp","banana","custard","mango"],"price":[50,20,30,100]})
df

      fruit  price
0  null bhp     50
1    banana     20
2   custard     30
3     mango    100

In [4]:
df['fruit'].replace("null bhp",0,inplace=True)

In [5]:
df

     fruit  price
0        0     50
1   banana     20
2  custard     30
3    mango    100

In [6]:
df=pd.read_csv("C:\\Users\\vigne\\Downloads\\train.csv")

In [7]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [8]:
df1=df.fillna(0)

In [13]:
for i in range(0,len(df1[['Power']])):
    print(df1[df1['Power']][i])

KeyError: "None of [Index(['58.16 bhp', '126.2 bhp',  '88.7 bhp', '88.76 bhp', '140.8 bhp',\n        '55.2 bhp',  '63.1 bhp', '171.5 bhp', '103.6 bhp',    '74 bhp',\n       ...\n       '158.2 bhp',  '86.8 bhp', '262.6 bhp',   '102 bhp',  '98.6 bhp',\n          '74 bhp',    '71 bhp',   '112 bhp',  '67.1 bhp',  '57.6 bhp'],\n      dtype='object', length=6019)] are in the [columns]"

In [ ]:
def indexing(df,Ind_list,Ind_list1):
    for i in range(0,df.shape[0]):
        if type(df.New_Price[i])==float:
            Ind_list.append(i)
        else:
            Ind_list1.append(i)

In [ ]:
Ind_list=[]
Ind_list1=[]
indexing(df,Ind_list,Ind_list1)

In [ ]:
for i in range(0,len(Ind_list)):
    Ind_list[i]=Ind_list[i]+1
for i in range(0,len(Ind_list1)):
    Ind_list1[i]=Ind_list1[i]+1

In [ ]:
df1=pd.read_csv("C:\\Users\\vigne\\Desktop\\test.csv", skiprows = Ind_list1,)
df1

In [ ]:
df2=pd.read_csv("C:\\Users\\vigne\\Desktop\\test.csv", skiprows = Ind_list)
df2

In [ ]:
df1.to_excel("C:\\Users\\vigne\\Desktop\\df1.xlsx")

In [ ]:
df2.to_excel("C:\\Users\\vigne\\Desktop\\df2.xlsx")

In [ ]:
df2

In [ ]:
df1